/* ################# */
/* -----GENERAL----- */
/* ################# */

:root {
  /* bg = background */
  --site-bg: #f6f7f8;

  --primary: #2a3647;
  --secondary: #091931;
  --accent: #29abe2;
  /* hvr = hover */
  --nav-link-hvr: #2a3d59;
  --nav-link-act: #091931;

  --checkbox-hvr: #edf2fa;

  /* btn = button */
  /* shdw = shadow */
  /* td = top-down */
  --btn-shdw-td: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

  /* ttb = top to bottom */
  --btn-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --header-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  /* qm = questio-mark */
  --qm-grey: #a8a8a8;

  --icon-grey: #cdcdcd;
  --no-task-bg: #a8a8a8;
  --form-active-border: 1px solid #29abe2;
  --form-fail-border: 1px solid #ff8190;

  /* txt-col = text color */
  --form-fail-txt-col: #ff8190;

  /* TST */

  /* ma = mailaddress */
  --contact-ma: #007cee;

  /* set as 'background' - property!!! */
  --contact-hvr: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);

  --profile-hvr: rgba(12, 46, 98, 0.1);

  --urgent: #ff3d00;
  --medium: #ffa800;
  --low: #7ae229;

  /* small-br = button border-radius */
  /* for buttons and contacts */
  --small-br: 0.625rem;

  /* med-br = med border-radius */
  /* for all tasks in the board (reduced) */
  --med-br: 1.5rem;

  /* big-br = big border-radius */
  /* for all slide-in pop-ups like _add contact+_ | _add task+_ and _task-detail-view_ */
  --big-br: 1.875rem;

  /* refers to menu that shows up when profile in upper-right corner is clicked */
  --small-menu-br: 1.25rem 0rem 1.25rem 1.25rem;

  --white: #fff;

  /* fields small width & height */
  --f-width-small: 17.5rem;
  --f-height-small: 1.5rem;
}

/* ############### */
/* -----BOARD----- */
/* ############### */
#margin-none {
  margin: 0;
}

section.board-section {
  width: calc(100% - 14.5rem);
  min-height: calc(100vh - 6rem);
  margin: 6rem 0 4rem 14.5rem;
  padding: 6.85rem 4rem 4rem 4rem;
}

.border-none {
  border: none !important;
  border-radius: var(--small-br);
}

.headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.input-and-button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 3rem;
}

.input-container {
  display: flex;
  gap: 0;
}

.btn-find-task {
  background-color: var(--white);
}

.input-find-task {
  padding: 0.5rem 1rem;
  height: auto;
  width: 19.5rem;
  display: flex;
  gap: 0;
  justify-content: space-between;
}

.board-task-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 4rem;
}

.to-do-container,
.in-progress-container,
.await-feedback-container,
.done-container {
  display: flex;
  width: 15.25rem;
  align-items: center;
  justify-content: space-between;
}

::placeholder {
  color: var(--Style, #d1d1d1);
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
}

img {
  cursor: pointer;
}

.drag-area {
  min-height: 100vh;
  width: calc((100% - 6rem) / 4);
  margin-bottom: 50px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  text-align: left;
}

.drag-area-highlight {
  background-color: rgba(83, 83, 83, 0.1);
  border-radius: 1.5rem;
}

.task-card {
  display: flex;
  max-width: 15.75rem;
  padding: 1rem;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 1.5rem;
  background: var(--white, #fff);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 1rem;
}

.drag-and-drop-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

div[draggable="true"] {
  cursor: pointer;
}

.empty-task {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--no-task-bg);
  border: 1px dashed var(--no-task-bg, #a8a8a8);
  border-radius: 0.625rem;
  background: #e7e7e7;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  justify-content: center;
  padding: 0.5rem;
}

.category-of-task,
.category-of-single-task {
  display: flex;
  padding: 0.25rem 1rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #0038ff;
  color: white;
  width: 75%;
  justify-content: center;
}

.title-of-task {
  color: var(--primary, #2a3647);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.description-of-task {
  color: var(--qm-grey, #a8a8a8);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.subtasks-of-task {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.progress-bar-container {
  width: 50%;
}

.amount-of-subtasks-container {
  width: 50%;
  color: #000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.assigned-to-of-task {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--form-fail-txt-col);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
}

.assigned-and-priority-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.technical-task-color {
  background-color: #1fd7c1;
}

.user-story-task-color {
  background-color: #0038ff;
}

.overlay-add-task {
  position: absolute;
  width: fit-content;
}

.box-slide-in {
  animation: boxSlideIn 0.325s ease-in forwards;
}

.box-slide-out {
  animation: boxSlideOut 0.325s ease-in forwards;
}

@keyframes boxSlideIn {
  from {
    transform: translate(100%, 80%);
    opacity: 0;
  }
  to {
    transform: translate(-2%, 0%);
    opacity: 1;
  }
}

@keyframes boxSlideOut {
  from {
    transform: translate(-2%, 0%);
    opacity: 1;
  }
  to {
    transform: translate(100%, 80%);
    opacity: 0;
  }
}

#add-task-content-overlay {
  width: -webkit-fill-available;
  max-width: 65rem;
  position: absolute;
  top: 20vh;
  padding: 2rem;
  border-radius: var(--big-br);
  background: var(--white);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.field-width-height-small {
  width: var(--f-width);
}

.frame219-small,
.frame39-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 50%;
}

.main-container-small {
  display: flex;
  margin-bottom: 0;
}

.svg-separator-small {
  padding: 2rem;
}

.prio-box-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.5rem;
  height: 3.5rem;
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}

.headline-overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.initialsCircleOfTasks {
  height: 2rem;
  border-radius: 50px;
  width: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.2rem;
  outline: solid 1px #fff;
}

.progress-bar {
  border: none;
  appearance: none;
  height: 0.5rem;
}

progress::-webkit-progress-value {
  background: rgb(69, 137, 255);
  border-radius: 0.25rem;
}

progress::-webkit-progress-bar {
  background: rgb(244, 244, 244);
  border-radius: 0.25rem;
}

.description-of-single-task {
  color: black;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.assigned-and-priority-single-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.7rem;
}

.priority-of-single-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.assigned-to-of-single-task {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  flex-direction: column;
}

.initialsCircleOfSingleTasks {
  height: 2rem;
  border-radius: 50px;
  width: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: solid 1px #fff;
  margin: 0.5rem;
}

.name-and-initial-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.subtasks-of-single-task {
  width: 100%;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  align-items: flex-start;
}
