/* ################# */
/* -----GENERAL----- */
/* ################# */

:root {
  --site-bg: #f6f7f8;
  --primary: #2a3647;
  --secondary: #091931;
  --accent: #29abe2;
  --nav-link-hvr: #2a3d59;
  --nav-link-act: #091931;
  --checkbox-hvr: #edf2fa;
  --btn-shdw-td: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --btn-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --header-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  --qm-grey: #a8a8a8;
  --icon-grey: #cdcdcd;
  --no-task-bg: #a8a8a8;
  --form-active-border: 1px solid #29abe2;
  --form-fail-border: 1px solid #ff8190;
  --form-fail-txt-col: #ff8190;
  --contact-ma: #007cee;
  --contact-hvr: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
  --profile-hvr: rgba(12, 46, 98, 0.1);
  --urgent: #ff3d00;
  --medium: #ffa800;
  --low: #7ae229;
  --small-br: 0.625rem;
  --med-br: 1.5rem;
  --big-br: 1.875rem;
  --small-menu-br: 1.25rem 0rem 1.25rem 1.25rem;
}

body {
  overflow-x: hidden;
}

.contacts-overlay {
  position: absolute;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
}

@keyframes overlayON {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlayOFF {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overlay-on {
  animation: overlayON 0.125s ease-in forwards;
}

.overlay-off {
  animation: overlayOFF 0.125s ease-in forwards;
}

section.contacts-section {
  display: grid;
  grid-template-columns: 28.5rem auto;
  grid-template-rows: 1fr;
  gap: 3.44rem;
  width: calc(100% - 14.5rem);
  min-height: calc(100vh - 6rem);
  margin: 6rem 0 auto 14.5rem;
  padding: 0 2rem 4rem 0rem !important;
}

section.contacts-section p,
section.contacts-section h1,
section.contacts-section h2 {
  margin: 0;
}

/* Contact Details  - right side */
/* ################################################## */

.contact-details {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6.8695rem;
  overflow: hidden;
}

.contacts-section--heading {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.875rem;
  margin-bottom: 2rem;
}

.contacts-section--heading .vert-spacer {
  width: 0;
  height: 59px;
  margin: auto 0;
  border-radius: 1.5px;
  border: var(--accent) 1.5px solid;
}

.contacts-section--heading p {
  color: var(--primary);
  font-size: 1.6875rem;
  font-weight: 400;
  line-height: 120%;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3125rem;
  transform: translateX(+100%);
  opacity: 0;
}

.slide-in {
  animation: slideIn 0.150s ease-in forwards;
}

.slide-out {
  animation: slideOut 0.150s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(+100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {  
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(+100%);
    opacity: 0;
  }

}

.user-label {
  display: flex;
  align-items: center;
  gap: clamp(1.5rem, 3.662vw + -1.312rem, 3.375rem);
  width: 100%;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  aspect-ratio: 1/1;
  background-color: #fd6509;
  border-radius: 50%;
  outline: 2px #fff solid;
  color: #fff;
  text-align: center;
  font-size: 2.9375rem;
  font-weight: 500;
  line-height: 120%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.125);
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.user-name span {
  color: #000;
  font-size: 2.9375rem;
  font-weight: 500;
  line-height: 120%;
}

.edit-user-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.edit,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.edit img:hover {
  content: url(/assets/img/icons/contacts/edit-hover.svg);
}

.delete img:hover {
  content: url(/assets/img/icons/contacts/delete-hover.svg);
}

.sub-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12.9375rem;
  height: 4.625rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}

.mail-info,
.phone-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
}

.bold {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

/* Contact List - left side */
/* ################################################## */

.contact-list {
  grid-column: 1 / 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28.5rem;
  height: calc(100vh - 6rem);
  padding: 2rem 3.25rem;
  background: #fff;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 0.5rem;
  z-index: 111;
}

.contact-list p {
  margin: 0;
  padding: 0;
}


/* for WebKit-based Browsers */
.contact-list::-webkit-scrollbar-track {
  background-color: #fff; 
}
.contact-list::-webkit-scrollbar-thumb {
  background-color: var(--qm-grey); 
}
.contact-list::-webkit-scrollbar-track {
  border: 1px solid #fff; /
}
/* for Firefox */
.contact-list scrollbar-track {
  background-color: #fff; 
}

.contact-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.9375rem 1.5rem;
  gap: 2.1875rem;
  cursor: pointer;
  border-radius: var(--small-br);
}

.contact-list-item:hover {
  background: var(--contact-hvr);
  border-radius: var(--small-br);
}

.contact-list-item:hover {
  background: var(--contact-hvr);
}

.contact-list-item:hover .list-item-icon {
  outline: 2px #fff solid;
}

.contact-list-item p:first-of-type {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 0.305rem;
}

.list-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  color: var(--white, #fff);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.0625rem 2.25rem 1.5625rem 2.25rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  border-bottom: solid 1px #d1d1d1;
}

.selected {
  background: var(--primary) !important;
}

.contact-list-item.selected p:first-of-type {
  color: #fff;
}

.spacer {
  position: fixed;
  top: 6rem;
  display: flex;
  width: 22rem;
  height: 6rem;
  background-color: #fff;
}

.add-contact-btn {
  position: sticky;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  border-radius: var(--small-br);
  background: var(--primary);
  color: var(--white, #fff);
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  z-index: 222;
}

.add-contact-btn:hover {
  background-color: var(--accent);
  box-shadow: var(--btn-shdw-ttb);
}

.mail-info a,
.list-item-info p:last-of-type {
  color: var(--contact-ma);
}


/* Add Contact Dialogue-Box */
/* Edit Contact Dialogue-Box */
/* ################################################## */

.add-contact-db,
.edit-contact-db {
  position: absolute;
  z-index: 333;
  top: 50%;
  left: 50%;
  transform: translate(+100%, -50%);
  display: flex;
  width: 75.75rem;
  height: 37rem;
  overflow: hidden;
  border-radius: var(--big-br);
  box-shadow: var(--btn-shdw-td);
  opacity: 0;
}

.box-slide-in {
  animation: boxSlideIn 0.325s ease-in forwards;
}

.box-slide-out {
  animation: boxSlideOut 0.325s ease-in forwards;
}

@keyframes boxSlideIn {
  from {
    transform: translate(+100%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes boxSlideOut {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(+100%, -50%);
    opacity: 0;
  }
}

.add-contact-banner,
.edit-contact-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 29.25rem;
  height: 37.125rem;
  padding: 4.125rem 3rem;
  gap: 0.75rem;
  background-color: var(--primary);
}

.add-contact-banner img, 
.edit-contact-banner img {
  width: 3.475rem;
  object-fit: contain;
  padding-top: 5.505rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
}

.heading span {
  font-size: 1.6875rem;
  font-weight: 400;
  line-height: 120%;
}
.custom-underline {
  width: 90px;
  margin-top: 0.5rem;
  padding: 0;
  border-radius: 1.5px;
  border: var(--accent) 1.5px solid;
}

.close-btn {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.close-btn img:hover {
  content: url(/assets/img/icons/add-task/close_hover.svg);
}

.add-contact-box,
.edit-contact-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 4.5rem;
  padding: 3rem 3rem 3rem 5.1875rem;
  background-color: #fff;
}

.user-icon-dummy {
  width: 120px;
  height: 120px;
  background-color: #d1d1d1;
  border-radius: 50%;
  outline: 2px #fff solid;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.125);
  background-image: url(/assets/img/icons/contacts/person-white-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.add-contact-form,
.edit-contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.add-contact-form input,
.edit-contact-form input {
  width: 100%;
  height: 1.5rem;
  border: none;
  color: black;
  font-size: 1.25rem;
  line-height: 120%;
}

.add-contact-form input:focus,
.edit-contact-form input:focus {
  outline: none;
}

.input--name:focus-within,
.input--email:focus-within,
.input--phone:focus-within {
  border: 1px solid var(--accent);
}

::placeholder {
  color: #d1d1d1;
  font-size: 1.25rem;
  line-height: 120%;
}

.input--name,
.input--email,
.input--phone {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8125rem 1.3125rem;
  border-radius: 0.625rem;
  border: 1px solid #d1d1d1;
  background: #fff;
}

.btn-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn-bar button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.25rem;
  border-radius: var(--small-br);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  transition: all 0.125s ease-in-out;
}

.btn-bar button:first-of-type {
  border: 1px solid var(--primary);
  background-color: #fff;
  color: var(--Version-2-main-color, #2a3647);
}

.btn-bar button:last-of-type {
  border: 1px solid var(--primary);
  background: var(--primary);
  color: #fff;
}

.btn-bar button:first-of-type:hover {
  border: 1px solid var(--accent);
  box-shadow: var(--btn-shdw-ttb);
  color: var(--accent);
}

.btn-bar button:first-of-type:hover img {
  content: url(/assets/img/icons/contacts/cancel-accent.svg);
}

.btn-bar button:last-of-type:hover {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  box-shadow: var(--btn-shdw-ttb);
}

.contact-success {
display: flex;
justify-content: center;
align-items: center;
width: 20.375rem;
height: 4.625rem;
margin-top: auto;
border-radius: 1.25rem;
background: var(--primary);
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
font-size: 1.25rem;
font-weight: 400;
line-height: 120%; 
}

