/* ################# */
/* -----GENERAL----- */
/* ################# */

:root {
  /* bg = background */
  --site-bg: #f6f7f8;

  --primary: #2a3647;
  --secondary: #091931;
  --accent: #29abe2;
  /* hvr = hover */
  --nav-link-hvr: #2a3d59;
  --nav-link-act: #091931;

  --checkbox-hvr: #edf2fa;

  /* btn = button */
  /* shdw = shadow */
  /* td = top-down */
  --btn-shdw-td: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

  /* ttb = top to bottom */
  --btn-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --header-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  /* qm = questio-mark */
  --qm-grey: #a8a8a8;

  --icon-grey: #cdcdcd;
  --no-task-bg: #a8a8a8;
  --form-active-border: 1px solid #29abe2;
  --form-fail-border: 1px solid #ff8190;

  /* txt-col = text color */
  --form-fail-txt-col: #ff8190;

  /* TST */

  /* ma = mailaddress */
  --contact-ma: #007cee;

  /* set as 'background' - property!!! */
  --contact-hvr: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);

  --profile-hvr: rgba(12, 46, 98, 0.1);

  --urgent: #ff3d00;
  --medium: #ffa800;
  --low: #7ae229;

  /* small-br = button border-radius */
  /* for buttons and contacts */
  --small-br: 0.625rem;

  /* med-br = med border-radius */
  /* for all tasks in the board (reduced) */
  --med-br: 1.5rem;

  /* big-br = big border-radius */
  /* for all slide-in pop-ups like _add contact+_ | _add task+_ and _task-detail-view_ */
  --big-br: 1.875rem;

  /* refers to menu that shows up when profile in upper-right corner is clicked */
  --small-menu-br: 1.25rem 0rem 1.25rem 1.25rem;
}

section.contacts-section {
  display: grid;
  grid-template-columns: 28.5rem auto;
  grid-template-rows: 1fr;
  gap: 3.44rem;
  width: calc(100% - 14.5rem);
  min-height: calc(100vh - 6rem);
  margin: 6rem 0 auto 14.5rem;
  padding: 0 2rem 4rem 0rem !important;
}

section.contacts-section p {
  margin: 0;
}

/* ################################################## */

.contact-details {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6.8695rem;
  overflow: hidden;
}

.contacts-section--heading {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.875rem;
  margin-bottom: 2rem;
}

.contacts-section--heading h1,
h2 {
  margin: 0;
}

.contacts-section--heading .vert-spacer {
  width: 0;
  height: 59px;
  margin: auto 0;
  border-radius: 1.5px;
  border: var(--accent) 1.5px solid;
}

.contacts-section--heading p {
  color: var(--primary);
  font-size: 1.6875rem;
  font-weight: 400;
  line-height: 120%;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3125rem;
  transform: translateX(+150%);
}

.swipe-in {
  animation: swipeIn 0.125s ease-in forwards;
}

@keyframes swipeIn {
  from {
    transform: translateX(+150%);
  }
  to {
    transform: translateX(0);
  }
}

.user-label {
  display: flex;
  align-items: center;
  gap: clamp(1.5rem, 3.662vw + -1.312rem, 3.375rem);
  width: 100%;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  aspect-ratio: 1/1;
  background-color: #fd6509;
  border-radius: 50%;
  outline: 2px #fff solid;
  color: #fff;
  text-align: center;
  font-size: 2.9375rem;
  font-weight: 500;
  line-height: 120%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.125);
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 0.5rem;
}

.user-name span {
  color: #000;
  font-size: 2.9375rem;
  font-weight: 500;
  line-height: 120%;
}

.edit-user-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.edit,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.edit img:hover {
  content: url(/assets/img/icons/contacts/edit-hover.svg);
}

.delete img:hover {
  content: url(/assets/img/icons/contacts/delete-hover.svg);
}

.sub-heading {
  display: flex;
  width: 12.9375rem;
  height: 4.625rem;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
}

.mail-info,
.phone-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
}

.bold {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
}

/* ################################################## */

.contact-list {
  grid-column: 1 / 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28.5rem;
  height: calc(100vh - 6rem);
  padding: 2rem 3.25rem;
  background: #fff;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 0.5rem;
  z-index: 111;
}

.contact-list p {
  margin: 0;
  padding: 0;
}

/* Für WebKit-basierte Browser */
.contact-list::-webkit-scrollbar-track {
  background-color: #fff; /* Ändere die Farbe hier */
}
.contact-list::-webkit-scrollbar-thumb {
  background-color: var(--qm-grey); /* Ändere die Farbe hier */
}
.contact-list::-webkit-scrollbar-track {
  border: 1px solid #fff; /* Ändere die Farbe hier */
}
/* Für Firefox */
.contact-list scrollbar-track {
  background-color: #fff; /* Ändere die Farbe hier */
}

.contact-list-item {
  display: flex;
  width: 100%;
  padding: 0.9375rem 1.5rem;
  align-items: center;
  gap: 2.1875rem;
  cursor: pointer;
  border-radius: var(--small-br);
}

.contact-list-item:hover {
  background: var(--contact-hvr);
  border-radius: var(--small-br);
}

.contact-list-item:hover {
  background: var(--contact-hvr);
}

.contact-list-item:hover .list-item-icon {
  outline: 2px #fff solid;
}

.contact-list-item p:first-of-type {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 0.305rem;
}

.list-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  color: var(--white, #fff);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
}

.divider {
  display: flex;
  width: 100%;
  padding: 1.0625rem 2.25rem 1.5625rem 2.25rem;
  align-items: center;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  border-bottom: solid 1px #d1d1d1;
}

.selected {
  background: var(--primary) !important;
}

.contact-list-item.selected p:first-of-type {
  color: #fff;
}

.spacer {
  position: fixed;
  top: 6rem;
  display: flex;
  width: 22rem;
  height: 6rem;
  background-color: #fff;
}

.add-contact {
  position: sticky;
  top: 0rem;
  display: flex;
  width: 22rem;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: var(--small-br);
  background: var(--primary);
  color: var(--white, #fff);
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  z-index: 222;
}

.add-contact:hover {
  background-color: var(--accent);
  box-shadow: var(--btn-shdw-ttb);
}
