:root {
	--site-bg: #f6f7f8;
	--primary: #2a3647;
	--secondary: #091931;
	--accent: #29abe2;
	--black: #000;
	--white: #fff;
	--nav-link-hvr: #2a3d59;
	--nav-link-act: #091931;
	--checkbox-hvr: #edf2fa;
	--btn-shdw-td: 0px 0px 4px 0px rgba(0, 0, 0, 0.125);
	--btn-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	--header-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
	--qm-grey: #a8a8a8;
	--icon-grey: #cdcdcd;
	--no-task-bg: #a8a8a8;
	--description-height: 7.5rem;
	--border-color: #d1d1d1;
	--form-active-border: 1px solid #29abe2;
	--form-fail-border: 1px solid #ff8190;
	--form-fail-txt-col: #ff8190;
	--contact-ma: #007cee;
	--contact-hvr: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
	--profile-hvr: rgba(12, 46, 98, 0.1);
	--urgent: #ff3d00;
	--medium: #ffa800;
	--low: #7ae229;
	--small-br: 0.625rem;
	--med-br: 1.5rem;
	--big-br: 1.875rem;
	--small-menu-br: 1.25rem 0rem 1.25rem 1.25rem;
	--f-width: 100%;
	--f-height: 3rem;
	--f-width-small: 100%;
	--f-height-small: 1.5rem;
	--margin-bottom-m: 1.5rem;
	--margin-bottom-s: 1rem;
	--margin-bottom-xs: 0.5rem;
}
