/* ################# */
/* -----GENERAL----- */
/* ################# */

:root {
  /* bg = background */
  --site-bg: #f6f7f8;

  --primary: #2a3647;
  --secondary: #091931;
  --accent: #29abe2;
  /* hvr = hover */
  --nav-link-hvr: #2a3d59;
  --nav-link-act: #091931;

  --checkbox-hvr: #edf2fa;

  /* btn = button */
  /* shdw = shadow */
  /* td = top-down */
  --btn-shdw-td: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

  /* ttb = top to bottom */
  --btn-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --header-shdw-ttb: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

  /* qm = questio-mark */
  --qm-grey: #a8a8a8;

  --icon-grey: #cdcdcd;
  --no-task-bg: #a8a8a8;
  --form-active-border: 1px solid #29abe2;
  --form-fail-border: 1px solid #ff8190;

  /* txt-col = text color */
  --form-fail-txt-col: #ff8190;

  /* TST */

  /* ma = mailaddress */
  --contact-ma: #007cee;

  /* set as 'background' - property!!! */
  --contact-hvr: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);

  --profile-hvr: rgba(12, 46, 98, 0.1);

  --urgent: #ff3d00;
  --medium: #ffa800;
  --low: #7ae229;

  /* small-br = button border-radius */
  /* for buttons and contacts */
  --small-br: 0.625rem;

  /* med-br = med border-radius */
  /* for all tasks in the board (reduced) */
  --med-br: 1.5rem;

  /* big-br = big border-radius */
  /* for all slide-in pop-ups like _add contact+_ | _add task+_ and _task-detail-view_ */
  --big-br: 1.875rem;

  /* refers to menu that shows up when profile in upper-right corner is clicked */
  --small-menu-br: 1.25rem 0rem 1.25rem 1.25rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0;
  background: var(--site-bg);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3.8125rem;
  font-weight: 700;
  margin: 0 0 2rem;
}

h2 {
  font-size: 1.6875rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0.25rem 0 0;
}

h4 {
  margin: 1rem 0 0;
}

section {
  width: calc(100% - 14.5rem);
  min-height: calc(100vh - 6rem);
  margin: 6rem 0 auto 14.5rem;
  padding: 6.85rem 6rem 4rem 6rem;
}

.accentuated {
  color: var(--accent) !important;
}

/* ################ */
/* -----HEADER----- */
/* ################ */

#frame {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  height: 6rem;
  padding: 1.25rem 2.5rem 1.25rem 21.75rem;
  background-color: #fff;
  box-shadow: var(--header-shdw-ttb);
  z-index: 99;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-bar p {
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 120%;
  cursor: default;
}

.corner-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-profile {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border: solid 3px var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

.user-profile:hover {
  background-color: var(--profile-hvr);
}

#user-initials {
  font-size: 1rem;
  font-weight: 700;
  color: var(--accent);
  cursor: pointer;
}

.help {
  width: 2rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background-image: url(/assets/img/icons/general/gray/q_mark.svg);
  background-size: contain;
}

.help:hover {
  background-image: url(/assets/img/icons/general/gray/q_mark_hover.svg);
}

/* ############### */
/* -----ASIDE----- */
/* ############### */

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 14.5rem;
  height: 100vh;
  padding: 4rem 0rem;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: var(--primary);
  z-index: 111;
}

#logo img {
  width: 6.25rem;
  object-fit: contain;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

nav > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 2.875rem;
  padding: 0.5rem 3.5rem;
  color: var(--icon-grey);
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  cursor: pointer;
}

nav > a:hover {
  color: #fff;
  background-color: var(--nav-link-hvr);
}

nav > a:active {
  color: #fff;
  background-color: var(--nav-link-act);
}

.summary-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(/assets/img/icons/general/gray/summary-gray.svg);
}

.nav-summary:hover .summary-icon {
  background-image: url(/assets/img/icons/general/white/summary-white.svg);
}

.add-task-icon {
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(/assets/img/icons/general/gray/add_task-gray.svg);
}

.nav-add-task:hover .add-task-icon {
  background-image: url(/assets/img/icons/general/white/add_task-white.svg);
}

.board-icon {
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(/assets/img/icons/general/gray/board-gray.svg);
}

.nav-board:hover .board-icon {
  background-image: url(/assets/img/icons/general/white/board-white.svg);
}

.contacts-icon {
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(/assets/img/icons/general/gray/contacts-gray.svg);
}

.nav-contacts:hover .contacts-icon {
  background-image: url(/assets/img/icons/general/white/contacts-white.svg);
}

.pp-ln {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.pp-ln a {
  text-decoration: none;
  color: var(--no-task-bg);
}

.pp-ln a:hover {
  text-decoration: none;
  color: var(--accent);
}

.pp-ln a:active {
  text-decoration: none;
  color: var(--accent);
  background-color: var(--nav-link-act);
}
