/* ################# */
/* -----GENERAL----- */
/* ################# */

* {
  box-sizing: border-box;
  min-width: 0px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.d-none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}
