<header>
  <div class="top-bar">
    <p>Kanban Project Management Tool</p>
    <div class="corner-icons">
      <a href="help.html">
        <div class="help"></div>
      </a>
      <div class="user-profile">
        <!-- add onclick-function 'toggleQuickMenue()'!  -->
        <p id="user-initials">??</p>
      </div>
    </div>
  </div>
</header>
<aside>
  <div class="logo" id="logo">
    <img src="assets/img/logo/logo-white.svg" alt="join logo" />
  </div>
  <nav>
    <a href="summary.html" class="nav-summary" id="nav-summary">
      <div class="summary-icon"></div>
      <p>Summary</p>
    </a>
    <a href="add_task.html" class="nav-add-task" id="nav-add-task">
      <div class="add-task-icon"></div>
      <p>Add Task</p>
    </a>
    <a href="board.html" class="nav-board" id="nav-board">
      <div class="board-icon"></div>
      <p>Board</p>
    </a>
    <a href="contacts.html" class="nav-contacts" id="nav-contacts">
      <div class="contacts-icon"></div>
      <p>Contacts</p>
    </a>
  </nav>
  <div class="pp-ln">
    <a href="privacy_policy.html">Privacy Policy</a>
    <a href="legal_notice.html">Legal Notice</a>
  </div>
</aside>
